################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
log/
**/.db
**/.vs
**/.DS_Store
**/Thumbs.db
