<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mySettings" type="WebApp.MySettings, WebApp"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <!--APPLICATION SETTINGS-->
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <!--Connection String Name to use for initial login-->
    <add key="DefaultConnectionStringName" value="Desktop_Local_v2021"/>
    <!--FOR MVC3 - FALSE FOR COMPATIBILITY WITH MVC2 VALIDATION-->
    <add key="ClientValidationEnabled" value="false"/>
    <!--FOR MVC3 - FALSE FOR COMPATIBILITY WITH MVC2 VALIDATION-->
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
    <!--GDS Integration-->
    <add key="VerifyPCC_Galileo" value="046T"/>
    <!--45U, 46T-->
    <add key="VerifyPCC_Apollo" value="QH2"/>
    <!--24LY, 24M2, 24LZ or QH2-->
    <add key="VerifyPCC_Amadeus" value="LONWL2220"/>
    <add key="VerifyPCC_Sabre" value="BP85"/>
    <!--GDS Sabre Credentials-->
    <add key="SabreUsername" value="7971"/>
    <add key="SabrePassword" value="WS090610"/>
    <add key="SabreIPCC" value="BP85"/>
    <add key="SabreDomain" value="DEFAULT"/>
    <!--GDS Apollo Credentials-->
    <add key="ApolloUsername" value="GWS/CPBLD"/>
    <add key="ApolloPassword" value="ClientProf14"/>
    <add key="ApolloHAP" value="DynApolloProd_2EW7"/>
    <!--this corresponds to PCC L1O-->
    <!--GDS Galileo Credentials-->
    <add key="GalileoUsername" value="GWS/CPBLD"/>
    <add key="GalileoPassword" value="ClientProf14"/>
    <add key="GalileoHAP" value="DynGalileoProd_5N4U"/>
    <!--this corresponds to PCC 5FC-->
    <!--GDS Amadeus Credentials-->
    <add key="AmadeusUsername" value="WSCWTCPB"/>
    <add key="AmadeusPassword" value="AMADEUS"/>
    <!--Power Architect Logging Path-->
    <add key="PALogging" value="D:\Users\urxc0002\Documents\SVN\DDBAdmin\v17.1.3\WEB_SOURCE\Log"/>
    <!--//D:\Resource\www\qa\log\-->
    <!--<add key="AuthenticationPassPhrase" value="ja#4_ePHaxu$ras_Ze2ekeZ=" />-->
    <add key="AuthenticationPassPhrase" value="+A66TRUg-fesUwRe#e7_Da_p"/>
    <!--Traveler Identity Store Credentials-->
    <add key="TokenAuthenticationUrl" value="https://fedsso.qa.carlsonwagonlit.com/as/token.oauth2?grant_type=client_credentials&amp;scope=traveler-admin"/>
    <add key="TokenAuthorizationKey" value="dGlzLWFkbWluOnRpcy1hZG1pbg=="/>
    <add key="BrokerUrl" value="https://tisbroker.qa.carlsonwagonlit.com/scim/v2/Traveler/"/>
    <!--https://10.213.128.216:8443/scim/v2/Traveler/-->
    <!--AspPDF Registration Key-->
    <!--IG-->
    <add key="AspPDF_RegKey" value="GYlbNZZJgoTVSEXhSunif/sB0ulsWzltONfYkk39ySIIJtztMX2CBQ4U6YG09IeK/X2zSguymRR3"/>
    <!--CWT-->
    <!--<add key="AspPDF_RegKey" value="IWezyNGurTwDJgc213KacCXF1W4+iPmP2yMFGbXW+rJHVd6x4tf8Htk9FV95vzUu6aNt+Avx" />-->
    <!--GDS Order Settings-->
    <add key="GDSOrder_Directory" value="~/GDSOrders"/>
    <add key="GDSOrder_FromEmailAddress" value="robert.chittock@carlsonwagonlit.com"/>
    <!--Email Settings-->
    <add key="SMTP_MailServer" value="mta-hub.int.carlsonwagonlit.com"/>
  </appSettings>
  <!--DB CONNECTION STRINGS-->
  <connectionStrings>
      <add name="Desktop_Local_v1921" connectionString="Data Source=192.168.11.90;Initial Catalog=Desktop_Local_v1921;Persist Security Info=True;User ID=cdoadmin;Password=cdoadmin"
          providerName="System.Data.SqlClient" />
      <add name="Desktop_Local_v1931" connectionString="Data Source=192.168.11.90;Initial Catalog=Desktop_Local_v1931;Persist Security Info=True;User ID=cdoadmin;Password=cdoadmin"
          providerName="System.Data.SqlClient" />
      <add name="Desktop_Local_v2011" connectionString="Data Source=192.168.11.90;Initial Catalog=Desktop_Local_v2011;Persist Security Info=True;User ID=cdoadmin;Password=cdoadmin;Connection Timeout=600"
          providerName="System.Data.SqlClient" />
      <add name="CreditCardDatabase" connectionString="Data Source=192.168.11.90;Initial Catalog=CCDB_Test;User ID=cdoadmin;Password=cdoadmin"
          providerName="System.Data.SqlClient" />
      <add name="Desktop_Local_v2021" connectionString="Data Source=192.168.11.90;Initial Catalog=Desktop_Local_v2021;Persist Security Info=True;User ID=cdoadmin;Password=cdoadmin;Connect Timeout=600"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <!--THIS SITE IS SET UP FOR USA-->
    <globalization culture="en-US"/>
    <!--ENCRYPITION KEY FOR COOKIE AND FORM ANTIFORGERY TOKEN-->
    <!--validationKey + decryptionKey are DIFFERENT BETWEEN LIVE AND DEVELOPMENT -->
    <machineKey validationKey="734F1793B185D0306EEF7F06CAD6F59CC0216FCBC2E2E1E7AD1D825335FF923E2D8BFCE8489F8B31E7576460FCF16C003350EC2D7FD58392CAD85D097C925150" decryptionKey="8723F8C931603B2E84DE50D10F5146ED0490A9FB39F96E2E4C0371882CE7C721" validation="SHA1" decryption="AES"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <!--PROJECT WAS INITIALLY FOR .NET3.5/MVC2, NOW .NET4/MVC3-->
    <!--DIFFERENT BETWEEN LIVE AND DEVELOPMENT (debug should be false on Live)-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--FORMS AUTHENTICATION LOGIN PAGE AND COOKIE NAME-->
    <!--slidingExpiration is true, if user performs an activity after 30 minutes, timeout is refreshed -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account.mvc/LogOn" name=".ASPXFORMSAUTH" timeout="600" slidingExpiration="true" requireSSL="false"/>
    </authentication>
    <!--FORMS AUTHENTICATION DENY ACCESS TO ALL USERS UNLESS LOGGED IN-->
    <authorization>
      <allow roles="user"/>
      <deny users="*"/>
    </authorization>
    <identity impersonate="false"/>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!-- Off Displays Errors to all Users-->
    <!-- On Displays Generic Error page to all Users-->
    <customErrors mode="Off" defaultRedirect="/GeneralError.mvc"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--Removing the X-AspNet-Version HTTP Header-->
    <httpRuntime enableVersionHeader="false"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
        
        LIVE ENVIRONMENT IS IIS6/WINDOWS SERVER 2003 SO THIS CAN BE COMMENTED OUT ( this has changed to Win2008 I think.DMcA 6/mar/2013)
        STAGING ENVIRONMENT IS IIS6/WINDOWS SERVER 2003 SO THIS CAN BE COMMENTED OUT
        DEV ENVIRONMENT IS IIS7.5/WINDOWS7, SHOULD BE LEFT IN 
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="AboMapperCustom-25974-25975-25977-25980-25983"/>
      <remove name="AboMapperCustom-25974-25975-25977-25980-25984"/>
      <remove name="AboMapperCustom-25974-25975-25977-25980-25982"/>
      <remove name="AboMapperCustom-25974-25975-25977-25980-25981"/>
      <remove name="AboMapperCustom-25974-25975-25977-25980"/>
      <remove name="UrlRoutingHandler"/>
      <add name="AboMapperCustom-25974-25975-25977-25980" path="*.mvc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0"/>
      <add name="AboMapperCustom-25974-25975-25977-25980-25981" path="*.mvc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0"/>
      <add name="AboMapperCustom-25974-25975-25977-25980-25982" path="*.mvc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0"/>
      <add name="AboMapperCustom-25974-25975-25977-25980-25984" path="*.mvc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0"/>
      <add name="AboMapperCustom-25974-25975-25977-25980-25983" path="*.mvc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" responseBufferLimit="0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--Removing the X-Powered-By HTTP Header-->
        <remove name="X-Powered-By"/>
        <!--Strict Transport Security-->
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <!--Prevent X Frame Scripting-->
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!-- WEBSITE IS AN UPGRADE FROM MVC2 to MVC3-->
  <!--assembly binding redirect entry for System.Web.Mvc  added by Upgrade Tool-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- USERS WHO ARE NOT LOGGED IN HAVE ACCESS TO THE FOLLWING ITEMS....Stylesheets, Images (+  LogOn Page defined in Code) -->
  <location path="Style">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- USERS WHO ARE NOT LOGGED IN HAVE ACCESS TO THE FOLLWING ITEM (Dev Login Page, does not exist on live) -->
  <location path="CDDBLogin">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Account.mvc/LogOff">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Log/Log_CDDB_%date{yyyy.MM.dd}_%property{FileName}.txt"/>
      <staticLogFileName value="false"/>
      <rollingStyle value="Size"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %property{SystemUserGuid} %property{Referrer} %newline%message%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\log4netCDDBX.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>